.container {
    min-height: 100vh;
    min-width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #F0F2F5;
}

.signin-block {
    width: 600px;
    height: 589px;
    flex-shrink: 0;

    border-radius: 14px;
    box-shadow: 2px 2px #ccc, -2px -2px #ccc;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.signin-header {
    width: 100%;
    height: 58px;
    border-bottom: 1px solid #E5E6EC;

    position: relative;
}

.signin-header h2 {
    line-height: 58px;
    text-align: center;
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
}

.signin-header svg {
    position: absolute;
    top: 16px;
    right: 16px;

    font-size: 24px;
}

.signin-header svg:hover {
    color: red;
    cursor: pointer;
}

.signin-body {
    margin: 35px 80px 0;
}

.signin-input {
    position: relative;
    margin-bottom: 40px;
}

.signin-input div {
    position: relative;
}

.signin-input div p {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.signin-input div p+.forgot-password {
    position: absolute;
    top: 0;
    right: 0;

    color: #2F80ED;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.signin-input input {
    display: flex;
    width: 440px;
    height: 54px;
    padding: 16px 15px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.signin-input svg {
    width: 22px;
    height: 20px;
    flex-shrink: 0;

    position: absolute;
    top: 40px;
    right: 16px;
}

.signin-input svg:hover {
    cursor: pointer;
}

.signin-button {
    display: flex;
    width: 440px;
    height: 50px;
    padding: 15px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    outline: none;
    border: none;

    border-radius: 40px;
    background: var(--Green, #00BF6F);
    box-shadow: 0px 2px 10px 0px rgba(244, 103, 0, 0.05);
}

.signin-button p {
    color: #FFF;
    text-align: center;
    /* GG/16px/Med/Button Text */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.signin-other {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.signin-other p {
    color: var(--light-transparent-greyscale-65, rgba(0, 0, 0, 0.65));
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.192px;
    width: 440px;
}

.signin-method {
    width: 210px;
    height: 45px;
    margin-top: 16px;

    border-radius: 24px;
    background: #E5E6EC;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signin-method svg {
    height: 21.477px;
    flex-shrink: 0;
    font-size: 28px;

    fill: #2F80ED;
}

.signin-method p {
    width: 70px;
    height: 19.432px;
    flex-shrink: 0;

    color: var(--light-greyscale-greyscale-900, #000);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.signin-out {
    width: 440px;
    margin-top: 16px;
    padding: 35px 30px 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signin-out p {
    color: #2F80ED;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.signin-out p:hover {
    cursor: pointer;
}

.signup-block {
    display: flex;
    width: 600px;
    padding: 24px 16px 0;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;

    border-radius: 14px;
    box-shadow: 2px 2px #ccc, -2px -2px #ccc;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.signup-button {
    display: flex;
    width: 440px;
    height: 50px;
    padding: 15px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    outline: none;
    border: none;
    margin: 24px 0;
}

.signup-button:hover {
    cursor: pointer;
}

.signup-button p {
    width: 245px;
    height: 50px;
    flex-shrink: 0;

    border-radius: 40px;
    background: var(--e-5-e-6-ec, #E5E6EC);

    color: var(--Gray-4, #BDBDBD);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    line-height: 50px;
}

.signup-other {
    padding: 0 70px;
}

.signup-other div p {
    color: var(--main-text, #002352);
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.line {
    height: 1px;
    background-color: #000;
}

.method-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-method {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 24px 16px 0;
}

.signup-method:hover {
    cursor: pointer;
}

.signup-out {
    width: 440px;
    padding: 24px 30px 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-out p {
    color: #2F80ED;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.signup-out p:hover {
    cursor: pointer;
}